.search {
  display: flex;
  padding: 4rem 0;
  gap: 4rem;
  width: 960px;
  margin: 0 auto;
}
.input {
  width: 50%;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  padding: 0.5rem;
}
.input:focus {
  outline: none;
  background-color: rgb(247, 247, 247);
}
.dropdownBar {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.table {
  width: 960px;
  margin: 0 auto;
}
.table-heading {
}
